{{ form_start(form) }}

<div class="form-group">
    {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
</div>

<button type="submit" class="btn btn-primary">
    {{ button_label|default('Save') }}
</button>

{{ form_end(form) }}
