.nav--layout{
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}

.nav--layout-mobile{
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
}

.nav--logo{
    height: 60px;
}

.nav--text{
    margin-bottom: 0;
    margin-top: 0;
    font-weight: var(--fw-bold);
    color: hsla(var(--clr-light));
    font-size: var(--fs-18);
}

.nav--img{
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
}

.nav--list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav--popup{
    padding: 0;
    background: none;
    border: none;
    width: var(--fs-24);
    height: var(--fs-24);
}

.nav--cat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    text-decoration: none;
}

.nav--cat-logo{
    height: var(--fs-36);
    width: var(--fs-36);
    padding: 0;
}

.page{
    width: 100%;
    min-height: 100vh;
    background-color: hsla(var(--clr-dark));
    padding-bottom: 2rem;
}

.popup--menu {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem;
    gap: 2rem;
    transition: right 0.3s;
  }
  
.popup--close-button {
    padding: 0;
    background: none;
    border: none;
    width: var(--fs-36);
    height: var(--fs-36);
}

.header{
    z-index: 0;
}

.view{
    padding: 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.account{
}

.solo-rules{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.rules-bloc{
    width: 8rem;
    height: 5rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
}

.rules-txt{
    font-size: var(--fs-14);
    margin: 0;
    color: hsla(var(--clr-green));
    font-weight: var(--fw-medium);
}

.bloc-txt{
    margin: 0;
    max-width: 15ch;
    text-align: center;
    font-weight: var(--fw-smbold);
    font-size: var(--fs-14);
}

.true{
    background-color: hsla(var(--clr-green)) ;
}

.mid{
    background-color: hsla(var(--clr-orange)) ;
}

.false{
    background-color: hsla(var(--clr-red)) ;
}

.group--searchbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
}

.searchbar{
    margin: 0;
    width: 28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(var(--clr-light));
    border-radius: 6px;
    padding: 0.5rem 1rem;
    color: hsla(var(--clr-dark));
}

.searchbar--icon{
    width: var(--fs-24);
}

.searchbar--txt{
    width: 23rem;
    font-size: var(--fs-16);
    background: none;
    border: none;
    margin: 0;
}

.searchbar--txt:focus{
    outline: none;
}

.searchbar--autocompletion{
    position: absolute;
    top: 2.3rem;
    left: 0;
    background-color: hsla(var(--clr-light));
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
}

.searchbar--autocompletion--self{
    cursor: pointer;
    padding: 0 1.1rem;
}

.searchbar--autocompletion--self--txt{
    margin: 0;
    color: hsla(var(--clr-dark)/ 0.75);
    font-size: var(--fs-16);
}

.life{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.life--icon{
    width: var(--fs-24);
}

.sologuesses{
    width: 28rem;
    overflow: auto;
    gap: 0.5rem;
    /* background-color: hsla(var(--clr-gray)/ 0.75); */
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3); */
}

/* Styles pour la barre de défilement */
.sologuesses::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement */
}

/* Style de la poignée de la barre de défilement */
.sologuesses::-webkit-scrollbar-thumb {
    background-color: #888; /* Couleur de la poignée */
    border-radius: 5px; /* Bord arrondi */
}

/* Style de la piste de la barre de défilement */
.sologuesses::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Couleur de la piste */
    border-radius: 5px; /* Bord arrondi */
}

.sologuesses--results{
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;  
    flex-direction: column-reverse;
}

.sologuesses--txt{
    font-size: var(--fs-14);
    font-weight: var(--fw-regular);
    color: hsla(var(--clr-dark));
    word-wrap: break-word; /* Forcer la division des mots longs sur plusieurs lignes */
    overflow-wrap: break-word;
}

.sologuesses--categories{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.sologuesses--categories--self{
    display: flex;
    height: 100%;
    width: 8rem;
    align-items: center;
    justify-content: center;
    background: none;
    padding-bottom: 1rem;
    border-radius: 6px;
}

.sologuesses--categories--self--txt{
    margin: 0;
    text-align: center;
    color: hsla(var(--clr-light));
    text-decoration: underline;
    font-weight: var(--fw-medium);
}

.sologuesses--album{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    min-height: 100%;
}

.sologuesses--self{
    display: flex;
    min-height: 10rem;
    width: 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsla(var(--clr-green));
    padding: 1rem;
    border-radius: 6px;
    gap: 0.5rem;
}

.sologuesses--self--txt{
    margin: 0;
    text-align: center;
    overflow-wrap: break-word;
    hyphens: auto;
}

.sologuesses--arrow--icon{
    width: var(--fs-16);
    height: var(--fs-16);
}

.sologuesses--self--list--txt{
    margin: 0;
    text-align: center;
}

.true{
    background-color: hsla(var(--clr-green));
}

.false{
    background-color: hsla(var(--clr-red));
}


.revealguess--header{
    margin-bottom: 1rem;
    padding: 0;
    font-size: var(--fs-60);
    font-weight: var(--fw-bold);
    
}

.win{
    color: hsla(var(--clr-green));
}

.loose{
    color:hsla(var(--clr-red));
}

.revealguess{
    width: 28rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 6px;
}

.revealguess--title{
    margin: 0;
    color: hsla(var(--clr-light));
    font-size: var(--fs-16);
    font-weight: var(--fw-regular);
}

.revealguess--txt{
    margin: 0;
    color: hsla(var(--clr-light));
    font-size: var(--fs-24);
    font-weight: var(--fw-smbold);
}

.tryagain{
    border: none;
    padding: 0.5rem 3rem;
    background-color: hsla(var(--clr-primary)/ 0.75);
    color: hsla(var(--clr-dark));
    font-size: var(--fs-18);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
}

.tryagain:hover{
    background-color: hsla(var(--clr-primary));
}

.redirection--header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5rem;
}

.redirection--header--title{
    margin: 0;
    font-size: var(--fs-48);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    color: hsla(var(--clr-red));
}

.redirection--header--description{
    margin: 0;
    font-size: var(--fs-18);
    max-width: 35ch;
    text-align: center;
    color: hsla(var(--clr-light));
    font-weight: var(--fw-light);
}

.redirection--body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.redirection--body--list{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.redirection--body--txt{
    margin: 0;
    font-size: var(--fs-18);
    font-weight: var(--fw-smbold);
    color: hsla(var(--clr-light));
}

.redirection--body--item{
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.redirection--body--item--txt{
    margin: 0;
    color: hsla(var(--clr-light));
    font-weight: var(--fw-bold);
    font-size: var(--fs-18);
}

.redirection--body--item--icon{
    height: 40px;
}

.redirection--highlight{
    font-weight: var(--fw-medium);
    color: hsla(var(--clr-green));
}

.threed{
    width: 100%;
}

.threed--content{
    display: flex;
    padding: 0 6rem;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    flex-direction: column;
}

.threed--command{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.threed--command--txt{
    margin: 0;
    color: hsla(var(--clr-light));
    font-size: var(--fs-24);
    font-weight: var(--fw-bold);
}

.threed--command--icon{
    width: 2rem;
}

.threed--rules{
    margin: 0;
    color: hsla(var(--clr-light));
    font-size: var(--fs-24);
    font-weight: var(--fw-light);    
}

.threed--highlight{
    font-weight: var(--fw-bold);
    color: hsla(var(--clr-primary));
}

.threedcanvas{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    background-color: hsla(var(--clr-gray)/ 0.75);
}

.threedcanvas canvas {
    width: 100% !important;
    height: 100% !important;
}

.account--head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 28rem;
    gap: 2rem;
}

.account--head--profilepic{
    height: 17rem;
    aspect-ratio: 1/1;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
}

.account--head--username{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.username--actual{
    cursor: default;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.username--surtitle{
    margin: 0;
    text-decoration: underline;
    color: hsla(var(--clr-light));
    font-weight: var(--fw-light);
    font-size: var(--fs-16);
}

.username--txt{
    margin: 0;
    color: hsla(var(--clr-light));
    font-weight: var(--fw-bold);
    font-size: var(--fs-24);
}

.username--all{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.username--modify{
    width: 1.5rem;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.stats--all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
}

.stats--head{
    display: flex;
    width: 28rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stats--self{
    background-color: hsla(var(--clr-primary));
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 13rem;
    height: 100%;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
}

.stats--self--title{
    margin: 0;
    color: hsla(var(--clr-dark));
    font-size: var(--fs-18);
}
*
.stats--self--txt{
    margin: 0;
    color: hsla(var(--clr-dark));
    font-size: var(--fs-24);
    font-weight: var(--fw-smbold);
}

.played{
    background-color: hsla(var(--clr-light));
}

.won{
    background-color: hsla(var(--clr-green));
}

.shop--head{
    display: flex;
    width: 28rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.shop--refresh{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
    background-color: hsla(var(--clr-light));
    border-radius: 6px;
    width: 100%;
    padding: 1rem 2rem;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
}

.shop--refresh--txt{
    margin: 0;
    color: hsla(var(--clr-dark));
    font-weight: var(--fw-regular);
    font-size: var(--fs-18);
}

.shop--refresh--time{
    margin: 0;
    color: hsla(var(--clr-red));
    font-weight: var(--fw-bold);
    font-size: var(--fs-24);
}

.shop--credits{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
    background-color: hsla(var(--clr-accent));
    border-radius: 6px;
    width: 100%;
    padding: 1rem 2rem; 
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
}

.shop--credits--txt{
    margin: 0;
    color: hsla(var(--clr-light));
    font-weight: var(--fw-regular);
    font-size: var(--fs-18);       
}

.shop--credits--amount{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.credits--amount--number{
    margin: 0;
    color: hsla(var(--clr-light));
    font-weight: var(--fw-bold);
    font-size: var(--fs-24);
}

.credits--amount--icon{
    width: 2rem;
}

.shop--items{
    display: grid;
    width: 28rem;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.shop--items--self{
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsla(var(--clr-accent));
    border-radius: 6px;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
}

.item--img{
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
}

.item--price{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: hsla(var(--clr-dark)/ .75);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    
}

.item--price:hover{
    background-color: hsla(var(--clr-dark));
}

.item--price--txt{
    margin: 0;
    color: hsla(var(--clr-light));
    font-size: var(--fs-24);
    font-weight: var(--fw-bold);
}

.item--equip--txt{
    margin: 0;
    color: hsla(var(--clr-light));
    font-size: var(--fs-18);
    font-weight: var(--fw-bold);    
}

.item--price--img{
    height: 2rem;
}

.item--already {
    margin: 0;
    color: hsla(var(--clr-green));
    font-weight: var(--fw-bold);
    font-size: var(--fs-18);
}

.inventory--all{
    gap: 2rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.inventory--header{
    width: 100%;
    background-color: hsla(var(--clr-accent));
    color: hsla(var(--clr-light));
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventory--header--txt{
    margin: 0;
    padding: 1rem;
    font-size: var(--fs-24);
    font-weight: var(--fw-bold);
}

.inventory--items{
    display: grid;
    width: 28rem;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;   
}

.inventory--items--self{
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsla(var(--clr-accent));
    border-radius: 6px;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);   
}

.confirmation-dialog{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.confirmation--btn{
    border: none;
    border-radius: 5px;
    width: 6rem;
    padding: 0.5rem 1rem;
    font-size: var(--fs-14);
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.3);
    color: hsla(var(--clr-dark));
    font-weight: var(--fw-medium);
}
 
@media screen and (min-width:1300px) {
    .sologuesses{
        width: 60rem;
        align-items: center;
    }
    
    .revealguess{
        width: 60rem;
    }
    
}